* {
  padding: none;
  margin-right: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  border: none;
  outline: none;
  appearance: none;
  background: none;

  cursor: pointer;
}

body {
  min-height: 100vh;
  background: linear-gradient(0deg, rgb(41, 41, 165), rgb(221, 126, 17));
  display: flex;
  align-items: center;
  justify-content: center;
}